<div id="bgSignUp">
  <div class="row align-items-center h-100">
    <div class="col-md-4 offset-md-1">
      <h1>Hello Welcome to our Site!</h1>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="card bg-dark">
        <div class="card-body p-5 text-white">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Contact</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Contact"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >password</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="password"
            />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >username</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="username"
            />
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary mb-3" id="Btn">
              Confirm identity
            </button>
            <button type="button" class="btn btn-primary mb-3" id="LoginBtn">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
